html{
    font-size: 16px;
}

/**/

.blog-avatar{
    width: 40px;
    height: 42px;
    position: absolute;
    top: 18px;
    left: 42px;
}

.avatar{
    display: block;
    background: url("../img/avatar.png") center no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}


.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 5% 0;
}

.portfolio{
    padding: 0 3%;
}

.about{
    box-sizing: border-box;
    text-align: center;
    margin: 40px auto;
}

.main-intro{
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5;
    opacity: 0;
    animation: titleShow .5s ease-out;
    animation-fill-mode: forwards;
}

.sub-intro{
    font-size: 1.125em;
    line-height: 25px;
    font-weight: lighter;
    margin-top: 14px;
    opacity: 0;
    animation: titleShow .5s .2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes titleShow {
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.email{
    margin-top: 40px;
}
/*portfolio-cover*/
.portfolio{
    width: 100%;
    box-sizing: border-box;
    margin-top: 60px;
}

.cover{
    box-sizing: border-box;
    position: relative;
    max-width: 700px;
    padding: 40px;
    border-radius: 10px;
    margin: 30px 0;
}

.cover-index img{
    max-height: 300px;
    max-width: 300px;
}

.clt-cover{
    background: #AFE0E6;
}

.winlink-cover{
    background: #65ACFC;
}

.infitell-cover{
    background: #FED13B;
}

.cover-index{
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
}

.title{
    position: absolute;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
    top: 50%;
    display: inline-block;
    padding: 0 8px;
    transform: translate3d(0,-50%,0);
}

.cover-title{
    font-size: 2.25em;
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 2px 0 rgba(0,0,0,.1);
    text-align: center;
    letter-spacing: 2px;
}

.read-btn{
    font-size: 0.875em;
    color: rgba(0,0,0,.5);
    font-weight: 600;
    width: 80%;
    margin: 40px auto;
    text-align: center;
    background: rgba(255,255,255,.5);
    border-radius: 8px;
    padding: 20px 0;
    transition: .2s ease;
}

.read-btn:hover{
    background: rgba(255,255,255,1);
    box-shadow: 1px 2px 0 0 rgba(0,0,0,0.15);
}

.clt-hover:hover{
    color: #ADE2E8;
}

.winlink-hover:hover{
    color: #65ACFC;
}

.infitell-hover:hover{
    color: #FED13B;
}

footer{
    color: #83869F;
    padding: 12px;
}

.copyright{
    margin: 20px auto;
    text-align: center;
    font-size: 0.625em;
}

@media screen and (max-width: 700px) {

    .cover{
        padding: 20px 8px 8px 8px;
    }

    .cover-index{
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
    }

    .title{
        position: relative;
        box-sizing: border-box;
        vertical-align: inherit;
        display: block;
        width: 100%;
        padding: 0 8px;
        transform: translate3d(0,0,0);
    }

    .read-btn{
        margin: 6px auto;
        padding: 16px 0;
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .cover-title{
        font-size: 1.75em;
    }
}

@media screen and (max-width: 400px){
    .main-intro{
        font-size: 2em;
    }

    .cover-title{
        font-size: 1.25em;
    }

    .read-btn{
        padding: 10px 0;
        font-size: 0.675em;
    }
}
